<div class="row ">
  <div class="eight columns">
    <% @events.each do |event| %>
      <card class="event-card">
        <h4><%= event.title %></h4>
        <img src="http://via.placeholder.com/540x300">
        <div class="row">
          <div class="six columns">
            <p class="major-info"><%= event.location %></p>
            <p class="major-info"><%= event.start_at.strftime('%Y/%m/%d %H:%M') %></p>
            <% if user_signed_in? %>
              <% if event.favorited_by?(current_user) %>
                <%= link_to event_favorites_path(event), method: :delete, class: 'button button-primary' do %>
                  <i class="fas fa-star favorite-icon-white"></i>Favorite
                <% end %>
              <% else %>
                <%= link_to event_favorites_path(event), method: :post, class: 'button' do %>
                  <i class="fas fa-star favorite-icon"></i>Favorite
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="six columns">
            <p class="ticket-price"><%= event.ticket_price %>円</p>
            <%= link_to 'Purchase', new_event_purchase_path(event), class: 'button button-primary' %>
          </div>
        </div>
      </card>
    <% end %>
  </div>
  <sidebar class="four columns categories-sb">
    <card class="categories-card">
      <h4>Categories</h4>
      <ul>
        <li><a>KONKATSU</a></li>
        <li><a>KOIKATSU</a></li>  
        <li><a>GOURMET</a></li>
      </ul>
    </card>
    <card class="search-card">
      <h4>Search</h4>
      <input class="u-full-width" type="text">
      <a class='button button-primary u-full-width'>Search</a>
    </card>
  </sidebar>
</div>
